BasedOnStyle: LLVM
IndentWidth: 4
ContinuationIndentWidth: 4
TabWidth: 4
UseTab: Never
NamespaceIndentation: All
AccessModifierOffset: -4
AlignAfterOpenBracket: false
AlignOperands: DontAlign
BreakBeforeTernaryOperators: false
WrapNamespaceBodyWithEmptyLines: Never
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never
AllowShortLambdasOnASingleLine: None
AllowShortEnumsOnASingleLine: false
FixNamespaceComments: false
PointerAlignment: Right
ReferenceAlignment: Right
ColumnLimit: 0
SortIncludes: Never
BreakStringLiterals: false
MaxEmptyLinesToKeep: 1
